<html>
  <head>Hello</head>
  <body>
    <p>Welcome! You're about to contribute to the ppg-husaria/husaria-website.git project!</p>
    <p>Feel free to experiment with cloned repository. Good luck!</p>
</html>